<div class="col-md-4 offset-md-4 top-pad-100">
	<form class="form-signin"  method="post" role="form" data-toggle="validator">
		<input type="hidden" name="frm_referringUrl" value="{{referringUrl}}">
		<h2 class="form-signin-heading">{{ @root.__ "Sign Up" }}</h2>
        <div class="form-group">
			<input type="text" id="fname" name="fname" class="form-control" placeholder="First Name" required autofocus>
		</div>
        <div class="form-group">
			<input type="text" id="lname" name="lname" class="form-control" placeholder="Last Name" required autofocus>
		</div>
		<div class="form-group">
			<input type="email" id="email" name="email" class="form-control" placeholder="email address" required autofocus>
		</div>
        <div class="form-group">
			<input type="text" id="company" name="company" class="form-control" placeholder="Company" required autofocus>
		</div>
        <div class="form-group">
			<input type="text" id="add1" name="add1" class="form-control" placeholder="Address One" required autofocus>
		</div>
        <div class="form-group">
			<input type="text" id="add2" name="add2" class="form-control" placeholder="Address Two" autofocus>
		</div>
        <div class="form-group">
			<input type="text" id="country" name="country" class="form-control" placeholder="Country" required autofocus>
		</div>
        <div class="form-group">
			<input type="text" id="state" name="state" class="form-control" placeholder="State" required autofocus>
		</div>
        <div class="form-group">
			<input type="text" id="postcode" name="postcode" class="form-control" placeholder="Postcode" required autofocus>
		</div>
        <div class="form-group">
			<input type="text" id="phone" name="phone" class="form-control" placeholder="phone" required autofocus>
		</div>
		<div class="form-group">
			<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
		</div>
		<button class="btn  btn-outline-primary btn-block" id="loginForm" type="submit">{{ @root.__ "Sign in" }}</button>
	</form>
</div>
